{% extends "@FrontTemplates/layout/default.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin: 0 auto; width: 100%;">
                <div class="text-center">
                    <h4>Battle!</h4>
                    <p>Battle started automatically... </p>
                </div>
                <div class=body">
                    {% for la in loadArmies %}
                    <div class="army">
                        <div><h5>{{ la.name }}</h5></div>
                        <div><h3>{{ la.units }}</h3></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}